@font-face
{
 font-family: "YummyCupcakes";
 src: url('YummyCupcakes.tff') format("truetype");
}

body
{
    font-family:"YummyCupcakes";
    font-size:29px;
    background-color:#F5F5DC;
    
}    

#images a
{
	background:#FAF0E6;
	float: left;
	margin: 30px 30px 30px 30px;
	padding: 5px 5px 15px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, .70);
	box-shadow: 0 20px 30px rgba(0, 0, 0,.70);
	-webkit-transition: all .10s linear;
	transition: all .10s linear;
	position:relative;
}

#images a:after 
{
	color: black;
	content: attr(title);
	position: relative;
	top:13px;
}

#container
{
    height:3000px;
    padding:100px 20px 0px 200px;
}

#images img 
{ 
	 display: block; 
	 height:250px;
}

#images a:nth-child(2n)
{
	-webkit-transform: rotate(5deg);  
	transform: rotate(5deg); 
}

#images a:nth-child(3n) 
{ 
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg); 
}

#images a:nth-child(4n)
{
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg); 
}

#images a:nth-child(5n)
{
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg); 
}

#images a:hover, #images a:focus
{
	-webkit-transform: rotate(0deg); 
        transform: rotate(0deg);
	-webkit-transform: scale(1.6); 
        transform: scale(1.6);
	z-index:10;
	-webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, .50);
    box-shadow: 0 6px 8px rgba(0,0,0, .50);
}