img, video
{
    max-width: 100%;
    
}

#bild
{
    width:250px;
}

#bild1
{
    width:250px;
}

#bild2
{
    width:960px;
}

#bild3
{
    width:230px;
}

#video
{
    width:320px;
}

#navigationboss, nav
{
    float:none;
    width:447px;
}

#content, main
{
    margin:0;
}

.picright
{
    margin-top:20px;
}

#header, header
{
    height:100%;
}

.meny li a
{
    text-align:center;
}

#active
{
    background-position:300px;
}

.active:hover
{
    background-position:300px;
}

.active:link
{
    background-position:300px;
}

h1
{
    margin:0;
    margin-top:25px;
}