/*
Background header: #1BEF00
*/


#container

{
    width:960px;
    margin:auto;
    background-color:#FFF;
}

#header
{
    width:960px;
    height:70px;
    text-align:center;
    font-size:20px;
    background-color:#FFF;
}

.bloggheader
{
    margin-top:-30px;
}

#navigationboss
{
    float: left;
    width: 230px;
    background-color:#FFF;
}

#navigation2
{
    background-color:#FFF;
    border:solid black;
    border-radius:15px;
    text-align:center;
    padding-right:50px;
    max-height:1000px;
    margin-left:2px;
}

.meny2 li a
{
    text-decoration:none;
}
    
.active:link
{
    color:#00800;
}

.active:hover
{
    background-color: black;
}

#active
{
    background-color:black;
}

.lankar:link
{
    color:#228B22;
}

.lankar:visited
{
    color:black;
}


.meny li a
{
    display:block;
    text-decoration:none;
    color: #FFF;
    padding:10px;
}


.meny li
{
    background-color:#006400;
    border:solid 1px;
    margin-left:-40px;
}



#content
{
    margin-left:270px;
    background-color:#FFF;
    width:690px;
    
}

.picright
{
    float:right;
    margin-right:20px;
    margin-top:50px;
    margin-left:5px;
}

#bild1
{
    float:right;
    margin-top:70px;
}

#img
{
    text-align:center;
}

th
{
    background-color:green;
}

.label
{
    background-color:green;
}

td
{
    background-color:#E8E8E8;
}

fieldset
{
    border-color:green;
}

legend
{
    font-weight:bold;
    font-size:125%;
}
#footer
{
    width:960px;
    height:70px;
    background-color: black;
}

h2
{
    border-bottom: 1px;
    border-bottom-color:#1BEF00;
    height:30px;
    border-bottom-style:groove;
    border-bottom-color:#1BEF00;
    margin:10px;
    background-image:url('../pics/icon.png');
    background-repeat:no-repeat;
    background-size:20px 20px;
    padding-left:25px;
    
}

body
{
    background-image:url('../pics/mörkgrön.hemsidan.png');
    font-family:Verdana, Times;
    
}

ul
{
    list-style-type: none;
}